@{
    Layout = null;
}


<div class="row">
    <div class="col-12">
        <form asp-action="BulkAdd" id="CreateBulkUser">
            <label class="form-label mt-5">Basic Options</label>

            <div class="ms-2 my-3 user-select-none">
                <label for="Department" class="control-label form-label required">Choose Department</label>
                <select class="form-select form-select-solid" id="Department" name="Department" asp-items="ViewBag.Department" data-control="select2" data-placeholder="Select Department" data-allow-clear="true">
                </select>
            </div>

            <div class="ms-2 my-3 user-select-none">
                <label for="Semester" class="control-label form-label required">Choose Semester</label>
                <input type="number" name="Semester" id="Semester" class="form-control form-control-solid"/>
            </div>

            <div class="ms-2 my-3 user-select-none">
                <label for="FirstName" class="control-label form-label required">First Name</label>
                <textarea name="FirstName" id="FirstName" class="form-control form-control-solid"></textarea>
            </div>

            <div class="ms-2 my-3 user-select-none">
                <label for="LastName" class="control-label form-label required">Last Name</label>
                <textarea name="LastName" id="LastName" class="form-control form-control-solid"></textarea>
            </div>

            <div class="ms-2 my-3 user-select-none">
                <label for="Email" class="control-label form-label required">Email</label>
                <textarea name="Email" id="Email" class="form-control form-control-solid"></textarea>
            </div>

            <div class="ms-2 my-3 user-select-none">
                <label for="EnrollmentNumber" class="control-label form-label required">Enrollment Number</label>
                <textarea name="EnrollmentNumber" id="EnrollmentNumber" class="form-control form-control-solid"></textarea>
            </div>

            <div class="ms-2 my-3 user-select-none">
                <label for="PhoneNumber" class="control-label form-label required">Phone Number</label>
                <textarea name="PhoneNumber" id="PhoneNumber" class="form-control form-control-solid"></textarea>
            </div>
            
            <label class="form-label mt-5">Other Options</label>



            <div class="ms-2 my-3 user-select-none">
                <label class="control-label form-label">
                    Password For All
                    <span class="badge-light">
                        Default value is Student@123
                    </span>
                </label>
                <input name="Password" id="Password" class="form-control form-control-solid"/>
            </div>


            <div class="pb-3 border-bottom-1 mb-3">
                <span></span>
            </div>
            <div class="form-group mt-5 pt-3">
                <button type="submit" class="btn btn-primary">
                    <span class="svg-icon svg-icon-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path opacity="0.3" d="M3 13V11C3 10.4 3.4 10 4 10H20C20.6 10 21 10.4 21 11V13C21 13.6 20.6 14 20 14H4C3.4 14 3 13.6 3 13Z" fill="black"/>
                            <path d="M13 21H11C10.4 21 10 20.6 10 20V4C10 3.4 10.4 3 11 3H13C13.6 3 14 3.4 14 4V20C14 20.6 13.6 21 13 21Z" fill="black"/>
                        </svg>
                    </span>
                    Add Students
                </button>

            </div>
        </form>
        <form class="position-fixed bottom-30">
            <input type="file" id="csv_file" onchange="" accept=".csv" title="csv_file" name="csv_file"/>
        </form>
    </div>
</div>

<script src="~/js/jquery.csv.min.js" id="jquery_csv_js"></script>

<script defer>
if (document.getElementById("jquery_csv_js")){
      $("#csv_file").on('change',function(){
            const file = this.files[0];
            var reader = new FileReader();
            reader.readAsText(file);
            reader.onload = function(event) {
                            var csvData = event.target.result;
                            data = $.csv.toObjects(csvData);
                            if (data && data.length > 0) {
                                for( let i = 0; i<data.length; i++){
                                    document.getElementById("Email").value += data.length-1 == i ?  data[i]["Email"] : data[i]["Email"] + "\r\n";
                                    document.getElementById("FirstName").value += data.length-1 == i ?  data[i]["First Name"] : data[i]["First Name"] + "\r\n";
                                    document.getElementById("LastName").value += data.length-1 == i ?  data[i]["Last Name"] : data[i]["Last Name"] + "\r\n";
                                    document.getElementById("EnrollmentNumber").value += data.length-1 == i ?  data[i]["Enrollment Number"] : data[i]["Enrollment Number"] + "\r\n";
                                    document.getElementById("PhoneNumber").value += data.length-1 == i ?  data[i]["Phone Number"] : data[i]["Phone Number"] + "\r\n";
                                }
                            } else {
                                console.log('No data to import!');
                            }
                        };
            reader.onerror = function() {
                            console.log('Unable to read ' + file.fileName);
                        };
      });
}

    $("#CreateBulkUser").submit( (e) => {
        e.preventDefault();        
        $.ajax({
            url: $("#CreateBulkUser").attr("action"),
            type: "POST",
            data: $("#CreateBulkUser").serialize(),
            success: function(data) {
                if(data) {
                    $('.modal').modal('hide')
                    $('.modal-backdrop').remove()
                    $("#TableReload").click()
                    $("#inner-body-display").html("")
                }
            },
            error: function(data) {
                toastr.options.closeButton = true;
                toastr.options.closeMethod = 'fadeOut';
                toastr.options.closeDuration = 0;
                toastr.options.showMethod = 'fadeIn';
                toastr.options.hideMethod = 'fadeOut';
                toastr.options.progressBar = true;
                toastr.options.showEasing = 'swing';
                toastr.options.hideEasing = 'swing';
                toastr.options.duration = 500;
                toastr.options.dublicateAllow = false;
                toastr.error("Something went wrong", "Error", { timeOut: 1500 })

            }
        })
    })
    $('.form-select').select2()
    
    setTimeout(
        () => {
        $('.only-time').flatpickr({
               enableTime: true,
               noCalendar: true,
               dateFormat: "h:i K",
           });
        },
        500
    )

    
</script>