<span class="svg-icon svg-icon-1 position-absolute ms-6">
    <partial name="Icons/_SearchIcon"/>
</span>
<input type="text" data-kt-customer-table-filter="search" id="TableSearch" class="form-control form-control-solid w-250px ps-15" placeholder="Search @Model"/>